<%# 
  EEA Patch - Fix link_to routes inside engine scope
  
  Original file: plugins/redmine_banner/app/views/banner/_body_bottom.html.erb
  Plugin version: 0.3.5
  
  ISSUE: When rendered inside an engine (e.g. ai_helper), link_to resolves
  controller paths relative to the engine's routes instead of main_app.
  This causes ActionController::UrlGenerationError: No route matches
  {action: "show", controller: "ai_helper/global_banner", id: "zope"}
  
  FIX: Resolve banner routes through main_app to use main Rails routes.
  Routes: GET /global_banner/:id => global_banner#show
          GET /banner/off => banner#off
%>
<div class="banner_area global_banner">
<div class="banner banner_<%= setting['type'] %>" id="banner_content">
  <%= textilizable setting['banner_description'] %>
</div>
  <div class="banner_edit">
    <%= link_to l(:button_edit),
      { controller: 'main_app/global_banner', action: 'show', id: setting['id'] },
      { class: 'icon banner-icon-edit', title: l(:button_edit)} if User.current.admin? && setting['id'].present? %>
    <% if User.current.logged? %>
      <a class="icon banner-icon-off" href="#"
         onclick="$.ajax({
           url: '<%= main_app.off_banner_index_path(moderate: 'yes') %>',
           type: 'get',
           success: function(data){
             var els = document.getElementsByClassName('global_banner');
             els = Array.prototype.slice.call(els);
             els.forEach(function(el){
               el.classList.add('fadeout');
               setTimeout(function(){ el.style.display = 'none'; }, 500);
             });
           }
         }); return false;"
         title="<%= l(:banner_off) %>"><%= l(:button_off) %></a>
    <% end %>
  </div>

  <% if setting['related_link'].present? %>
  <div class="banner_more_info">
    <%= link_to l(:more_info), setting['related_link'],
           { class: 'icon external', title: l(:label_more_info)} %>
  </div>
  <% end %>
</div>

<% if setting['display_part'] == 'header' %>
<script type="text/javascript">
  $(document).ready(function () {
    displayTopBanner();
  });

  $(window).resize(function () {
    console.log("resize");
    displayTopBanner();
  });
</script>
<% end %>

<% if setting['display_part'] == 'both' %>
<script type="text/javascript">
  $(document).ready(function () {
    displayTopAndBottomBanner();
  });

  $(window).resize(function () {
    console.log("resize");
    displayTopBanner();
  });
</script>
<% end %>
